*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("./images/background.jpg");
    /* background-image:url("./images/background.jpg"); */
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.top{/*nav */
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center; 
}
.nav-links{
    
    flex: 1;/*occupy all space in the row */
    text-align: right;
    
    /* display: flex;
    padding: 2% 6%; */

}
.nav-links ul li{
    list-style: none; /*removes the dots*/
    display:inline-block ;/*horozontalize*/
    padding: 8px 12px;
    position: relative;   
}
.nav-links ul li::after{
    content: " ";
    width: 0%;
    height:2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 14px;
}
.logo{
    color: white;
    font-size: 65px;
    text-decoration: none;
}
.profilepic{
    height: 300px;
    width: 300px;
    border-radius: 35%;
    position: relative;
    
}
.profiledesc{
    color: white;
    font-size: 20px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url();
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: white;
    /* was placed in the middle */
    position:absolute;
     top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%); 
    text-align: center; 

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    line-height: 2;
}
/* -------------------about-------- */
.about{
    padding-top: 100px;
    width: 80%;
    text-align: center;
    margin: auto;
}
.about h1{
    font-size: 36px;
    font-weight: 600;
}
.about p{
    color: #777 ;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display:flex;/*  this put the divs horizontal" */
    justify-content: space-between;

}
.column{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.9);
}
.column h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}
.projects{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.projects-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.projects-col img{
    width: 100%;
    display:block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.6s;
}
.layer:hover{
    background: rgba(226,0,0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/*contacts*/
.contacts{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.contacts-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.contacts-col img{
    width: 100%;
    border-radius: 10px;
}
.contacts-col p{
    padding: 0;
}
.contacts-col h3{
    margin-top:16px ;
    margin-bottom: 15px;
    text-align: left;
}
.footer{
    width: 100%;
    text-align: center;
    padding:30px 0 ;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight:600;


}

















